<% content_for :css do %>
    <%= stylesheet_link_tag 'public/knowledges/index.css' %>
<% end %>
<div class="container-fluid h-100 allbox pt-3 px-0">
  <div class="row justify-content-center px-0 subbox">
    <div class="col-xl-2 col-md-3 categories-and-classification">
      <% if @knowledges_classification.distinct().pluck(:classification)[0] == "trivia" %>
      <% a = 0 %>
      <h4 class="text-center classification-name"><%= link_to "＜雑学＞", knowledges_path(classification: a) , class: 'text-dark' %></h4>
      <% else %>
      <% a = 1 %>
      <h4 class="text-center classification-name"><%= link_to "＜経験談＞", knowledges_path(classification: a) , class: 'text-dark' %></h4>
      <% end %>
      <div class="categories d-flex flex-column px-2 pt-2">
        <h5 class="categories-title mb-2">カテゴリー一覧</h5>
        <%= form_with url: knowledges_path, method: :GET, class: 'categories-search' do |f| %>
        <% @knowledges_classification.distinct().pluck(:category_id).each do |category_id| %>
        <div class="item">
        <%= f.check_box :categories_id, {multiple: true, include_hidden: false}, category_id.to_i %>
        <%= f.label :categories_id, Category.find(category_id.to_i).name, value: category_id.to_i %>
        <%= f.hidden_field :classification_number, :value => a %>
        </div>
        <% end %>
        <div class="search-button1">
        <%= f.submit "検索", class: 'w-100' %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-xl-8 col-md-9">
      <div class="row justify-content-between mb-2">
        <div class="search position-relative d-flex align-items-center">
        <%= form_with url: knowledges_path, method: :GET, class: 'flex-grow-1' do |f| %>
          <%= f.text_field :search, placeholder: "キーワード検索", class: 'w-100 pl-1' %>
          <%= f.hidden_field :classification_number, :value => a %>
          <span class="search-button2">
          <%= image_submit_tag("search_image.png", class: 'search_image') %>
          </span>
        <% end %>
        </div>
        <% if user_signed_in? %>
          <%= link_to "記事投稿", new_knowledge_path, class: 'btn btn1 py-1' %>
        <% end %>
      </div>
      <div class="row flex-column article-list px-2 pt-2">
        <div class="col-md-12 mb-3 per d-flex justify-content-between">
          <span><%= page_entries_info @knowledges %></span>
          <%= paginate @knowledges %>
        </div>
        <% @knowledges.each_with_index do |knowledge, i| %>
        <%= link_to knowledge_path(knowledge.id, search_categories: @knowledges.distinct().pluck(:category_id), index: i), class: 'text-dark' do %>
        <div class="col-md-12 d-flex article px-3 mb-3 py-1">
          <%= image_tag knowledge.get_image, class: 'image1' %>
          <div class="article-content flex-grow-1 ml-3">
            <h5 class="font-weight-bold"><%= knowledge.title %></h5>
            <div class="d-flex align-items-center article-detail flex-wrap">
              <span class="category mr-2 mb-1"><%= knowledge.category.name %></span>
              <div class="average-score mr-2 mb-1">
                <div class="average-star-rating">
                  <div class="star-rating-front" style="width: <%= knowledge.avg_rate_percentage %>%">★★★★★</div>
                  <div class="star-rating-back">★★★★★</div>
                </div>
                <div class="average-score-display">
                <%= knowledge.avg_rate %>/5
                </div>
              </div>
              <span class="mx-2 mb-1"><%= knowledge.created_at.strftime('%Y/%m/%d') %></span>
              <div class="contributor d-flex">
                <%= image_tag knowledge.user.get_profile_image, class: 'image2' %>
                <p class="mb-0 ml-2"><%= knowledge.user.nickname %></p>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>