<% content_for :css do %>
    <%= stylesheet_link_tag 'public/comments/new.css' %>
<% end %>
<div class="container-fluid h-100 mx-0 allbox">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-md-9 col-lg-7 col-xl-6 box">
      <h3 class="text-center my-5">コメント投稿フォーム</h3>
      <%= form_with model: [@knowledge, @comment] do |f| %>
      <div class="main-rating">
          <%= f.label :rate, "評価：", class: 'mb-0 d-flex align-items-center label1' %>
          <div class="ratings position-relative 1">
            <span class="fa-solid fa-star-half position-absolute half" id="star"></span>
            <span class="fa-regular fa-star" id="star"></span>
          </div>
          <div class="ratings position-relative 2">
            <span class="fa-solid fa-star-half position-absolute half" id="star"></span>
            <span class="fa-regular fa-star" id="star"></span>
          </div>
          <div class="ratings position-relative 3">
            <span class="fa-solid fa-star-half position-absolute half" id="star"></span>
            <span class="fa-regular fa-star" id="star"></span>
          </div>
          <div class="ratings position-relative 4">
            <span class="fa-solid fa-star-half position-absolute half" id="star"></span>
            <span class="fa-regular fa-star" id="star"></span>
          </div>
          <div class="ratings position-relative 5">
            <span class="fa-solid fa-star-half position-absolute half" id="star"></span>
            <span class="fa-regular fa-star" id="star"></span>
          </div>
          <div class="ml-3 rating-value-display d-flex align-items-center"><span id="rating-value-display">0</span>/5</div>
          <%= f.hidden_field :rate, id: "rating-value" %>
      </div>
      <div class="comment">
      <%= f.label :content, "コメント：", class: 'mb-0 label2' %>
      <%= f.text_area :content, placeholder: "コメント内容", class: "content flex-grow-1 pl-2" %>
      </div>
      <div class="text-center post">
      <%= f.submit "投稿する", class: 'btn btn-primary btn1 rounded-pill' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
