<% content_for :css do %>
    <%= stylesheet_link_tag 'public/sessions.css' %>
<% end %>
<div class="container-fluid h-100 mx-0 allbox">
  <div class="row justify-content-center align-items-center h-100">
    <div class="box">
      <h3 class="text-center my-5">ログイン</h3>
      <%= form_with model: @user, url: session_path(resource_name), class: 'form' do |f| %>
      <div class="row field justify-content-center">
        <div class="col-md-9 d-flex px-0 email-field">
          <%= f.label :email, "メールアドレス：" %>
          <div class="form1 position-relative px-0">
            <i class="fa-solid fa-envelope email"></i>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: 'w-100', id: "email" %>
            <div id="danger1"><%= flash[:danger1] %></div>
          </div>
        </div>
      </div>

      <div class="row field justify-content-center">
        <div class="col-md-9 d-flex px-0 password-field">
          <%= f.label :password, "パスワード：" %>
          <div class="form2 position-relative px-0">
            <i class="fa-solid fa-lock password"></i>
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: 'w-100', id: "password" %>
            <div id="danger2"><%= flash[:danger2] %></div>
          </div>
        </div>
      </div>

      <div class="actions text-center mb-4">
         <%= f.submit "ログイン", class: 'btn btn-success rounded-pill btn1' %>
      </div>
      <% end %>

      <%= render "public/shared/links" %>

      <div class="row justify-content-center link">
        <div class="col-md-5 d-flex align-items-center justify-content-end guest-label">
          <p class="mb-0">ゲストの方→</p>
        </div>
        <div class="col-md-5 px-0 guest-link">
          <%= link_to 'ユーザー', users_user_guest_sign_in_path, method: :post, class: 'btn btn2' %>
          <%= link_to '管理者', users_admin_guest_sign_in_path, method: :post, class: 'btn btn3' %>
        </div>
      </div>
    </div>
  </div>
</div>